
/* Užkraunam/prijungiam ikonų biblioteką iš Bootstrap Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


/* HEADER */

.menu{
    display: flex; 
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}

.bttn{
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: x-large;
}

#logo img{
    width: 100px;
}


input{
    height: 30px;
    width: 300px;
}

button{
    height: 30px;
    width: 40px;
    box-sizing: content-box;
}

input, button {
    float: left;
}


/* SIDEBAR */

.sidebar{
    height: 100%;
    position: fixed ;
    width: 200px;
    background-color: rgb(53, 241, 15);
    /* z-index: 1; */
    /* overflow: auto; */
}


/* CARDS */

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}

.card h2{
    margin: 0px 5px;
    color: rgb(4, 4, 133);
}

.card > div:nth-child(1) >img{
    width: 300px;
    height: 200px;
    object-fit: containr;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card >div:nth-child(1) > p{
    margin: 0px;
}

.card >div:nth-child(1){
    position: relative;
}

.ago{
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 0px 5px;

    position: absolute;
    left: 130px;
    bottom: 10px;

    /* width: 150px; */
}


/* SUBSCRIPTIONS */

.ikona{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    /* margin-top: 10px; */
}

.slepti{
    display: none;
}

.rodyti{
    display: unset;
}
